<ion-content>
  <div class="main-login">
    <button ion-button icon-only clear class="btn-close" round (click)="dismiss()">
      <ion-icon name="ios-close-circle-outline"></ion-icon>
    </button>
    <div class="wrapper">
      <img class="logo" src="assets/img/logo_chili_w.png">
      <img class="bg-img" src="assets/img/decor_login.png" alt="">
      
      <div class="main-form">
      	<ion-list>
      		<ion-item>
        		<ion-input placeholder="{{'username' | translate}}" [(ngModel)]="user_name" type="text"></ion-input>
      		</ion-item>

      		<ion-item>
        		<ion-input placeholder="{{'password' | translate}}" [(ngModel)]="password" type="password"></ion-input>
      		</ion-item>

          <b *ngIf="msg_err != null" class="msg_err">{{msg_err}}</b>
    		  
          <ion-item>
      			<button ion-button block round color="danger" (click)="login()">{{'login' | translate}}</button>
      		</ion-item>

          <ion-item>
            <button ion-button block round color="info" (click)="fb_login()">{{'login_with_facebook' | translate}}</button>
          </ion-item>


          <ion-item>
            <button ion-button block round color="dark" (click)="signup()">{{'signup' | translate}}</button>
          </ion-item>
<!-- 
          <p (click)="forgot()">Forgot your password?</p> -->
      	</ion-list>
      </div>
    </div>
  </div>
</ion-content>
