<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="" tabIcon="ios-home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="" tabIcon="ios-search"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="" tabIcon="md-list-box"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="" tabIcon="ios-heart"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="" tabIcon="ios-contact"></ion-tab>
  <ion-tab [root]="tab6Root" tabTitle="" tabIcon=""></ion-tab>
</ion-tabs>
