page-post-product {
  .btn-close{
  	float: right;
  	margin-top: 20px !important;
  	ion-icon{
  		font-size: 2.2rem;
  		color: #212121;
  	}
  }
  .logo{
    margin-top: 10px;
    height: 30px;
    opacity: 0.3;
  }
  .status{
    margin-top: 0 !important;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-left: 20px;
  }
  ion-row{
  	margin-left: -5px;
  	margin-right: -5px;
  }
  .wrapper-img{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 7px;
    position: relative;
    ion-icon{
      color: #bebebe;
      font-size: 2.5rem;
      border: 1px dashed #ccc;
      width: 100%;
      height: 80px;
      line-height: 80px;
      text-align: center;
      border-radius: 7px;
    }
    img{
      width: 100%;
      min-height: 80px;
    }
    .hide-input{
      opacity: 0 !important;
      position: absolute !important;
      height: 100% !important;
      width: 100% !important;
      top: 0 !important;
      left: 0 !important;
      background: none !important;
      ion-input, input{
        width: 100% !important;
        height: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        background: none !important;
      }
    }
  }
  ion-item{
    padding-left: 0 !important;
    .item-inner{
      padding-right: 0 !important;
      border: none !important;
      box-shadow: none !important;
      ion-label{
        color: #757575 !important;
      }
      input{
        width: 100% !important;
        margin-right: 0;
        margin-bottom: 0 !important;
        border: none !important;
        background: #ebebeb;
        border-radius: 30px;
        padding: 0px 15px;
        height: 36px !important;
        line-height: 3.5rem !important;
      }
      textarea{
        background: #ebebeb;
        border-radius: 12px;
        min-height: 220px;
        padding: 15px;
        width: 100% !important;
        border: none !important;
      }
    }
  }
  .btn-save{
    margin-bottom: 70px !important;
    background: #f5265a;
  }
  .err{
    margin-top: 10px !important;
  }
}
