page-modal-rating {
	ion-content{
		background: transparent !important;
		.scroll-content{
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			bottom:0px;
		}
	}
	.wrapper{
		text-align: center;
		// padding: 10px 5px 10px 5px;
		h6{
			font-size: 1.4rem;
			text-transform: uppercase;
		}
		p{
			color: #757575;
			font-size: 1.3rem;
			margin-bottom: 20px;
		}
		ion-item{
			padding-left: 0 !important;
			background: none;
			color: #212121;
			ion-label{
				width: 100%;
			}
			.item-inner{
				border: none !important;
				padding: 0 !important;
				ion-toggle{
					padding-right: 0 !important;
				}
				ion-select{
					padding-right: 3px !important;
					&.select-wp{
						margin-right: 0 !important;
					}
				}
			}
		}
	}
	.close-modal{
		z-index: 2;
		position: absolute;
		background: rgba(0,0,0,0.5);
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	.main-modal{
		opacity: 1;
		z-index: 1000;
		background: #fff !important;
		width: 70%;
		min-width: 300px;
		max-width: 300px;
		height: 200px;
		height: auto;
		display: block;
		overflow: auto;
		border-radius: 15px;
	}

	rating ul{
		padding: 0px;
		margin-left: -10px;
	}

	textarea{
		background: #ebebeb!important;
		border-radius: 12px!important;
		min-height: 100px!important;
		padding: 10px!important;
		width: 100% !important;
		border: none !important;
	}

	.btn-rate{
		margin-bottom: 70px !important;
		background: #f5265a;
	}
	.no-scroll .scroll-content{
     overflow: hidden;
}
}
