<ion-header>
  <ion-navbar>
    <ion-title>{{cat_name}}</ion-title>
    <div>
      <button clear small color="light" ion-button class="setting-nav" (click)="setting()">
        <ion-icon name="ios-pin-outline"></ion-icon>
      </button>
      <button clear small color="light" ion-button class="upload-nav" (click)="up_product()">
        <ion-icon name="ios-paper-plane-outline"></ion-icon>
      </button>
    </div>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="lists.empty == 1" class="empty_data">
    <div>
      <h4>not found</h4>
      <p>There are currently no products available in the area you require!</p>
    </div>
  </div>
  <ion-list class="lst-products" *ngIf="lists.empty != 1">
    <ion-card *ngFor="let item of lists ; let i = index">
      <ion-item>
        <ion-avatar item-start (click)="view_prf(item.user_id)">
              <img *ngIf="item.avt != null && item.avt.indexOf('graph.facebook.com')==-1" src="{{base_url + item.avt}}">
        <img *ngIf="item.avt != null && item.avt.indexOf('graph.facebook.com')!=-1" src="{{item.avt}}">
        <img *ngIf="item.avt == null" src="assets/avt.png">

        </ion-avatar>
        <h2><b (click)="view_prf(item.user_id)">{{item.user_name}}</b> posted {{item.created_at}}</h2>
        <div class="more">
          <button [ngClass]="{'active' : (item.report == true)}" ion-button icon-left clear (click)="report(item.id, i)">
            <ion-icon name="ios-flag-outline"></ion-icon>
          </button>
        </div>
      </ion-item>
      <img src="{{base_url + item.image_path}}" (click)="view(item)" />
      <ion-card-content (click)="view(item)">
        <ion-card-title>{{item.title}}</ion-card-title>
        <div class="local">
          <ion-icon name="md-locate"></ion-icon>
          {{item.county_name + ' - ' + item.cities_name}}
        </div>
        <p class="price">price: {{item.price}}</p>
        <p>{{item.content.slice(0,107) + '...'}}</p>
      </ion-card-content>
      <ion-row>
        <ion-col col-3>
          <button ion-button icon-left clear (click)="mail(item)">
            <ion-icon name="ios-mail"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-3>
          <button ion-button icon-left clear (click)="call(item.phone)">
            <ion-icon name="ios-call"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-3>
          <button [ngClass]="{'active' : (item.favorites == true)}" ion-button icon-left clear (click)="favorites(item.id, i)">
            <ion-icon name="ios-heart"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-3>
          <button ion-button icon-left clear (click)="share(item)">
            <ion-icon name="md-share"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
