
<ion-content padding class="food-detail">
  <ion-row class="close-modal" (click)="dismiss()"></ion-row>
  <ion-row class="main-modal" col-2>
    <div class="wrapper">
      
      <h6>{{'set_your_location' | translate}}</h6>
      <p>{{'set_location_quote' | translate}}</p>
      
      <ion-item>
        <ion-label>{{'view_all_location' | translate}}</ion-label>
        <ion-toggle [(ngModel)]="all_local" (ionChange)="select_local()"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>{{'county' | translate}}</ion-label>
        <ion-select [disabled]="all_local ? true : null" [(ngModel)]="county" (ionChange)="select_local()">
          <ion-option *ngFor="let item of county_list;let i = index" value="{{item.id}}">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>{{'cities' | translate}}</ion-label>
        <ion-select [disabled]="all_local ? true : null" [(ngModel)]="cities" (ionChange)="select_local()">
          <ion-option value="null">All cities</ion-option>
          <ion-option *ngFor="let item of cities_list;let i = index" value="{{item.id}}">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>

      <img src="assets/img/bg_setting.png">

    </div>
  </ion-row>
</ion-content>
